.color{
    background-color: rgb(249, 166, 1);
    height: 250px;
    color: white;
    align-content: end;
    padding-left: 25px;
    font-size: 2rem;
    padding-bottom: 20px;
    border-bottom-right-radius: 50px;
}
p{
    margin: 0;
}
.inputs{
    margin: 35px;
    margin-top: 50px;
}
.name{
    margin-right: 0;
    margin-bottom: 20px;
}
input{
    height: 50px;
    width: 250px;
    padding-right: 0;
    border-radius: 20px;
    color:grey;
    padding-left: 10px;
}

.button{
    align-content: center;
    padding-left: 90px;
}
button{
    height: 40px;
    width: 150px;
    color: black;
    background-color: rgb(249, 166, 1);
}
.end{
    display: flex;
    padding-top: 7px;
}
.log{
    color: blue;
}